<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>
	{% if image %}
	   <div align="center"><img src="/ports/9012/static/somefile.png" /></div>
    {% endif %}
	<form method=post enctype=multipart/form-data action="ports/9012/upload">
	<!-- <form method=post enctype=multipart/form-data"> -->
	<h3 align="center">Upload File</h3>
	<div align="center">
		<div class="custom-file">
		<input type=file name=file>
		<input type=submit value=Upload>
	</div>
	</div>
	</form>
</body>
</html>